<section class="hero is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        Alexandr Serogin
      </h1>

      <span class="icon is-medium">
        <a href="https://github.com/aserogin">
          <i class="fab fa-2x fa-github"></i>
        </a>
      </span>
      <span class="icon is-medium">
        <a href="https://gitlab.com/aserogin">
          <i class="fab fa-2x fa-gitlab"></i>
        </a>
      </span>
      <span class="icon is-medium">
        <a href="https://linkedin.com/in/alexandrserogin/">
          <i class="fab fa-2x fa-linkedin"></i>
        </a>
      </span>
      <span class="icon is-medium">
        <a href="https://twitter.com/aserogin">
          <i class="fab fa-2x fa-twitter"></i>
        </a>
      </span>
      <span class="icon is-medium">
        <a href="mailto:alexandrserogin@gmail.com">
          <i class="fas fa-2x fa-envelope"></i>
        </a>
      </span>
    </div>
  </div>
</section>